:where(.css-dev-only-do-not-override-1km3mtt).ant-select-single
  .ant-select-selector {
  border-radius: 0px;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-1km3mtt).ant-dropdown-menu-submenu
  .ant-dropdown-menu {
  padding: 0px;
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #c8ced3;
  border-radius: 0rem;
  outline: none;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item:first-child {
  border-bottom: 1px solid #c8ced3;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  padding: 7px 20px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Rubik', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  position: static;
}

span.ant-dropdown-trigger.ant-table-filter-trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-table-wrapper
  .ant-table-filter-trigger {
  margin-block: 0;
  margin-inline: 0;
  justify-content: center;
}

span.ant-table-column-title {
  margin-right: 40px;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-form-item {
  margin-bottom: 0px;
}

/* :where(
    .css-dev-only-do-not-override-1km3mtt
  ).ant-btn-primary.ant-btn-background-ghost {
  border-radius: none;
} */

:where(.css-dev-only-do-not-override-1km3mtt).ant-btn {
  border-radius: 0px;
}

:where(.css-dev-only-do-not-override-1km3mtt).select_language
  .ant-select-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
  display: none;
}

:where(.css-dev-only-do-not-override-1km3mtt).select_language
  .ant-select-selector:after {
  display: inline-block;
  width: 0;
  margin: 2px 6px;
  line-height: 24px;
  content: 'Select\ your\ language';
  color: #bfbfbf;
  width: 100%;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-card:not(.ant-card-bordered) {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 50%), 0 1px 6px -1px rgb(0 0 0 / 1%),
    0 2px 4px 0 rgb(0 0 0 / 1%);
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-card {
  border-radius: 0px;
}

.modal-add-new-candidate
  :where(.css-dev-only-do-not-override-1km3mtt).ant-modal-root
  .ant-modal-wrap {
  z-index: 2000;
}

.modal_select_add
  :where(.css-dev-only-do-not-override-1km3mtt).ant-modal-root
  .ant-modal-centered
  .ant-modal {
  z-index: 3000;
}

.sticky-row {
  position: fixed !important;
  bottom: 0;
  right: 0;
  border-top: 1px solid #d9d9d9;
  background-color: #e9e9e9;
  padding: 10px 24px !important;
  text-align: right;
  width: 100%;
  z-index: 2;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.ant-row.css-dev-only-do-not-override-1km3mtt {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ant-modal.css-dev-only-do-not-override-1km3mtt.modal-add-education {
  width: 800px !important;
}

.ck-content .text-tiny {
  font-size: 0.7em;
}

.ck-content .text-small {
  font-size: 0.85em;
}

.ck-content .text-big {
  font-size: 1.4em;
}

.ck-content .text-huge {
  font-size: 1.8em;
}
